<!DOCTYPE html>
<html xmls:th="http://www.thymleaf.org"
	layout:decorate="~{layout/layout_base}"><head>

</head>
<body>
	<div layout:fragment="content">
	<form th:action="@{/user-create}" method="POST" th:object="${userPerson}">
		 <label >Nombre</label>
		 <input type="text" class="form-control" th:field="*{name}"/> 
		 <label>Apellido</label>
		 <input type="text"  class="form-control" th:field="*{lastname}"/> 
		 <label>Correo Electronico</label>
		 <input type="email" class="form-control" th:field="*{email}"/> 
		 <label>Contraseña</label>
		 <input type="password" class="form-control" th:field="*{password}"/> 
		 <label class=""> Genero: </label>
		 <label class="form-check">
		 	  <input class="form-check-input" type="radio" aria-label="Masculino" name="gender" value="1" th:field="*{gender}"> Masculino
		 </label>
		 <label class="form-check">
		 	  <input class="form-check-input" type="radio" aria-label="Femenino" name="gender" value="2" th:field="*{gender}"> Femenino
		 </label>
		 <div class="form-outline mb-2" >
		 	<label class="form-label">Tipo de Usuario: </label>	
		 	<select class="form-control" th:name="selectRole">
		 		<option th:each="item : ${roles}" th:text="${item.description}" th:value="${item.id}"></option>
		 	</select>
		 </div>
		 <button class="btn btn-primary" type="submit">Save</button>
	</form>
	</div>
	
</body>

</html>