<!DOCTYPE html>
<html xmls:th="http://www.thymleaf.org"
	layout:decorate="~{layout/layout_base}">
<head>
</head>
<body class="d-flex flex-column min-vh-100">
	<div layout:fragment="content">
		<div class="row">
			<div class="jumbotron bg-dark py-4 px-4 text-white">
	            <div class="col-lg-12">
	                <h1 class="display-4">Mis Cursos</h1>
	            </div>
	        </div>
		</div>
		<div class="pt-3 row g-3">
        	<div class="col-3">
       
        		
        	</div>
        </div>
	</div>
</body>

</html>